# Игнорировать временные файлы Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.log


# Игнорировать файлы сборки
*.dll
*.exe

# Игнорировать файлы настройки Rider/VS Code (если нужно)
.idea/
.vscode/
.vercel
node_modules
node_modules/

dist/
!client/dist